.dump-box {
    background-color: black;
    border: 1px solid #ddd;
    box-shadow: -4px 4px 16px 0px grey;
    padding: 10px;
    overflow: auto;
    position: fixed;
    top: 5%;
    right: 0;
    height: 90vh;
    width: clamp(200px, 200px + 50vw, 80vw);
    z-index: 100;
}

.dump {
    background-color: black;
    font-family: monospace;
    font-size: 12px;
    white-space: pre;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ffbf00;
    color: lightgray;
}

.dump::before {
    content: "Dumper: ";
    font-weight: bold;
    color: #666;
}

.dump span {
    color: darkgray;
}

.dump .string {
    color: lightgray;
}

.dump .number {
    color: purple;
}

.dump .boolean {
    color: orange;
}

.dump .null {
    color: red;
}

.dump .array {
    color: grey;
}

.dump .object {
    color: darkgreen;
}

.dump-alert {
    position: absolute;
    bottom: 32px;
    left: 50vw;
    z-index: 101;
    width: 200px;
    height: auto;
    background-color: #87cefa8f;
    border: 1px solid #ffbf00;
    font-weight: bold;
    text-align: center;
    padding: 10px;  
    visibility: hidden;
    opacity: 0;
    transform: translateY(-110px);
    transition: all .3s ease-out;
}
.dump-alert.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all .3s ease-in;
}